body {
  font-size: 18px;
}
.App {
  display: flex;
}
.header {
  box-sizing: border-box;
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 0;
  padding: 1rem 15%;
  display: flex;

}
.logo {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
}
.box-header {
  width: 80%;
  box-sizing: border-box;
 
}
.box-header ul {
  display: flex; 
  position: absolute;
  top: 0;
  right: 20%;
  
}
.box-header li {
  list-style: none;
  font-weight: 500;
  margin-left: 2.5rem;
  font-size: 2rem;
}
.box-header a {
  flex-direction: row;
  text-decoration: none;
  color:  #00b4d9;
  
}
.body {
  width: 100%;  
  height: 100%; 
  position: absolute;
  top: 8rem; 
  display: flex;
  margin: 1rem 5%; 
}
.nav {
  width: 20%;
  height: max-content;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1rem;
  background: rgb(2,0,36);
  background: linear-gradient(54deg, rgba(2,0,36,1) 0%, rgba(101,185,200,1) 0%, rgba(193,241,241,1) 100%);
}
.icon-contact {
  box-sizing: border-box;
  height: 8rem;
  width: 10rem;
  background: rgba(255, 255, 255,.55);  
  border: 4px solid #fff;
  border-radius: 20px;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  transition: box-shadow .4s linear;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 20%;
}

.icon {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
.icon :first-child {
  padding: 20px;
  font-size: 2.5rem;
  color: rgb(36, 83, 165);
}
.icon :last-child {
  font-size: 1.5rem;
  color: #5f5f5f;
}
.contain-main {
  width: 80%;
  height: 100%;
  margin: 5rem;
  border: 5px solid #5f5f5f;
}
.contain1 {
  display: flex
}
.creates {
  box-sizing: border-box;
  width: 50%;
  flex-direction: column;
  margin: 1rem 2%;
  height: max-content;
}
.icon-create {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
}
.icon-create i{
  color: #fff;
  background-color: #00b4d9;
  height: 4rem;
  width: 4rem;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding-left: 2px;
  margin-right: 2rem;
}
.contain-create {
  flex-direction: column;
}
.form-creates {
  width: 100%;
  flex-direction: column;
}
.box-create {
  display: flex;
  align-items: center;
}
.box-create span {
width: max-content;
margin: 1rem 1rem;
}
.box-create input{
  height: 1.5rem;
  flex: 1;
}
.box-create textarea {
 flex: 1;
 height: 4rem;
 margin-top: 1rem;
}
